* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(26, 1, 40);
  color: white;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; */
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

html {
  font-size: 10px;
}

h1 {
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1.4rem;
  /* Ange färg? */
}

button {
  cursor: pointer;
  border: none;
}

.main-container {
  margin-top: 7rem;
  padding: 2rem 10rem;
}

.hero-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 43vh 43vh;
  gap: 1rem;
}

.hero-image-1 {
  background-image: url("/images/hero-image-1.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  border-radius: 1rem;
}

.hero-image-2 {
  background-image: url("/images/hero-image-2.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  border-radius: 1rem;
}

.hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-text h2 {
  font-size: 2.5rem;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  background-color: rgb(26, 1, 40);
  background-color: rgb(48, 19, 65);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid white;
  z-index: 800;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); */
}

nav h2 {
  font-size: 2rem;
}

#home-link {
  cursor: pointer;
  height: 4rem;
}

.brand-name-and-sex-choices {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.sex-choices {
  display: flex;
  gap: 0.3rem;
}

.sex-choice-button {
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.4rem 0.8rem;
  font-size: 1.6rem;
  color: black;
}

.selected-sex {
  text-decoration: underline;  
  background-color: rgb(115, 177, 115);
  color: white;
}

.login-register-buttons {
  display: flex;
  gap: 3rem;
}

.nav-option {
  background-color: inherit;
  color: inherit;
  font-size: 1.6rem;
}

.register-button {
  background-color: white;
  color: black;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.register-button:hover {
  /* background-color: rgb(26, 1, 40); */
  background-color: rgb(107, 35, 150);
  color: white;
}

.start h1 {
  font-size: 3rem;
}

.non-clickable-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; /* Kanske fit-content  Kan man göra non-scrollable, non-swipable*/
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.button-to-open-categories {
  background-color: inherit;
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
}

.clickable-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: none;
  z-index: 999;
}

.dropdown {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 0;
  background-color: white;
  background-color: whitesmoke;
  background-color: rgb(241, 233, 233);
  background-color: lightcyan;
  background-color: rgb(240, 237, 237);
  display: flex;
  z-index: 1000;
}

.dropdown h2 {
  color: black;
  text-align: center;
}

.dropdown-left-side {
  padding: 2rem;
  width: 85%;
}

.dropdown-left-side-categories {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.no-categories-exist {
  font-size: 1.6rem;
  color: black;
}

.category-in-dropdown {
  padding: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.category-in-dropdown:hover {
  background-color: rgb(26, 1, 40);
  color: white;
}

.dropdown-right-side {
  width: 15%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 3rem;
  padding-bottom: 2rem;
}

.close-dropdown {
  font-size: 1.8rem;
  font-weight: bold;
  font-weight: bold;
  background: none;
}

.pop-up {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  border-radius: 1rem;
  color: black;
  background-color: rgb(238, 216, 168);
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
  z-index: 1001;
}

.records-container {
  margin: 2rem 0 4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: white;
  cursor: pointer;
  /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); */
}

.item p {
  font-size: 1.6rem;
  font-weight: bold;
  color: black;
}

.item:hover {
  background-color: rgb(191, 229, 241);
}

.press-to-create-edit {
  background-color: white;
  color: black;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
  font-weight: bold;
}

.create-edit {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

.label-and-input {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 25rem;
}

label {
  font-size: 1.4rem;
}

input {
  height: 2.5rem;
  border: none;
  padding-left: 0.7rem;
  font-size: 1.4rem;
}

textarea {
  height: 10rem;
  padding: 0.5rem 0.7rem;
  font-size: 1.4rem;
  line-height: 1.3;
}

.radio-label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.confirm-or-cancel {
  display: flex;
  gap: 1rem;
}

.confirm-button {
  background-color: rgb(115, 177, 115);
  color: white;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 0.5rem;
}

.cancel-button {
  background-color: rgb(207, 129, 129);
  color: black;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 0.5rem;
}

.user-info-and-logout-button {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.logout-button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: rgb(207, 129, 129);
  color: black;
  font-size: 1.4rem;
  font-weight: bold;
}

.basic-product {
  border: 1px solid white;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;
}

.basic-product:hover {
  background-color: rgba(230, 222, 222, 0.3);
}

.product-small-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  z-index: 1;
}

.detailed-product {
  /* Kanske ha olika för vanlig och admin */
  display: flex;
  gap: 5rem;
}

.product-large-img-wrapper {
  position: relative;
  width: 20vw;
  height: 30vw;
  border-radius: 1rem;
  overflow: hidden;
}

.product-small-img-wrapper {
  position: relative;
  width: 8vw;
  height: 12vw;
  border-radius: 0.5rem;
  overflow: hidden;
}

.product-information-and-sizes {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.sizes-section {
  margin-top: 2rem;
  position: relative;
}

.show-sizes {
  width: 40rem;
  cursor: pointer;
  background-color: white;
  padding: 0.8rem 3rem;
}

.no-size-chosen {
  font-size: 1.8rem;
  color: gray;
}

.size-shosen {
  font-size: 1.8rem;
  font-weight: bold;
  color: black;
}

.dropdown-sizes {
  position: absolute;
  top: 100%;
  left: 0;
  width: 40rem;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.product-variant {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  border-bottom: 1px solid white;
  cursor: pointer;
}

.product-variant:hover {
  background-color: rgba(230, 222, 222, 0.3);
}

.out-of-stock {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  border-bottom: 1px solid white;
  cursor: not-allowed; /* Kanske */
  pointer-events: none; /* Kanske */
}

.out-of-stock p {
  color: gray;
}

.low-stock {
  color: red;
}

.detailed-product-information {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 40rem;
}

.detailed-product-information h1 {
  margin-bottom: 0;
}

.product-large-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  z-index: 1;
}

.add-to-shopping-basket {
  width: 40rem;
  margin-top: 2rem;
  background-color: rgb(115, 177, 115);
  color: white;
  padding: 1rem 0;
  font-size: 1.6rem;
  font-weight: bold;
}

.table {
  width: 70vw;
}

.row-in-table {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.row-in-table-left-side {
  display: flex;
  gap: 2rem;
}

.product-tiny-img {
  width: 4vw;
  height: 6vw;
  border-radius: 0.3rem;
}

.name-color-size {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quantity-dropdown {
  padding: 0.5rem 1rem;
}

.remove-item-from-shopping-basket {
  color: white;
  background-color: inherit;
  font-size: 2rem;
  padding: 1rem;
}

.remove-item-from-shopping-basket:hover {
  background-color: white;
  color: red;
}

.total-amount {
  border-top: 2px solid white;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.go-to-payment {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}

.go-to-payment-button {
  background-color: rgb(115, 177, 115);
  color: white;
  padding: 1rem 2rem;
  font-weight: bold;
  border-radius: 0.5rem;
  font-size: 1.8rem;
}

.heart-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  z-index: 10;
}

.heart-icon-small {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 1.6rem;
  height: 1.6rem;
  cursor: pointer;
  z-index: 10;
}

.heart-icon-nav-wrapper {
  position: relative;
  overflow: hidden;
  width: 4rem;
  height: 4rem;
  z-index: 801;
  cursor: pointer;
}

.heart-icon-nav {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heart-icon-nav-number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  pointer-events: none; /* Optional: allows clicks to pass through the number */
}

.shopping-basket-icon-nav-wrapper {
  position: relative;
  overflow: hidden;
  width: 4rem;
  height: 4rem;
  z-index: 801;
  cursor: pointer;
}

.shopping-basket-nav {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.shopping-basket-nav-number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  pointer-events: none; /* Optional: allows clicks to pass through the number */
  padding: 1rem;
  border-radius: 100%;
  background-color: white;
  color: black;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
}

.avatar-wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.avatar-nav {
  width: 4rem;
  height: 4rem;
}

.avatar-tooltip {
  visibility: hidden;
  opacity: 0;
  background-color: #fff;
  color: #333;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 1;
  transition: opacity 0.2s;
}

.avatar-wrapper:hover .avatar-tooltip {
  visibility: visible;
  opacity: 1;
}

.edit-product {
  display: flex;
  align-items: flex-start;
}

.description {
  white-space: normal;
  word-break: break-word;
  overflow-wrap: anywhere;
  max-width: 100%;
}

.admin-product-sizes {
  margin-top: 3rem;
}

.payment {
  width: 65%;
}

.separate-horizontally {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.go-back {
  padding: 1rem;
  border-radius: 0.5rem;
}

.total-amount-payment {
  font-size: 1.8rem;
}

.credit-card-description {
  font-size: 1.4rem;
}

.credit-card {
  border: 3px solid white;
  border-radius: 1rem;
  width: 50%;
  margin: 1rem 0;
}

.credit-card-larger-text {
  font-size: 1.8rem;
}

#credit-card-row-1 {
  padding: 3rem 2rem;
  border-bottom: 1px solid white;
}

#credit-card-row-2 {
  padding: 3rem 2rem;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
}

#credit-card-row-3 {
  padding: 3rem 2rem;
}

.credit-card-label {
  font-size: 1rem;
}

.separate-label-and-value {
  display: flex;
  gap: 2rem;
  align-items: center;
  text-align: center;
}

.confirm-purchase {
  padding-top: 2rem;
  display: flex;
  justify-content: flex-end;
}

.confirm-purchase-button {
  background-color: rgb(115, 177, 115);
  color: white;
  padding: 1rem 2rem;
  font-weight: bold;
  border-radius: 0.5rem;
  font-size: 1.8rem;
}

.order-summary {
  margin-bottom: 4rem;
}

/* .table-narrow {
  width: 50vw;
} */

.row-in-narrow-table {
  display: flex;
  gap: 5rem;
  align-items: center;
  padding: 1rem 0;
  cursor: pointer;
}

.row-in-narrow-table:hover {
  background-color: rgb(102, 54, 129);
}
