/* @import url("https://fonts.googleapis.com/css2?family=Engagement&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

:root {
  /* Backgrounds */
  --background-1: rgb(239, 236, 236);
  --background-2: rgba(26, 1, 40, 0.6);
  --background-3: rgb(191, 229, 241);
  --background-4: white;
  --background-no-click: rgba(0, 0, 0, 0.5);
  --confirm-background: rgb(115, 177, 115);
  --cancel-background: rgb(207, 129, 129);

  /* Text colors */
  --text-color-1: white;
  --text-color-2: black;
  --text-color-3: gray;
  --text-color-4: red;

  /* Text sizes */
  --text-size-XS: 1rem;
  --text-size-S: 1.2rem;
  --text-size-M: 1.4rem;
  --text-size-L: 1.6rem;
  --text-size-XL: 1.8rem;
  --text-size-h2: 2rem;
  --text-size-h1: 2.5rem;

  /* Borders */
  --border-1: lightgray;
  --border-2: rgba(26, 1, 40, 0.6);

  /* Border radius */
  --radius-tiny: 0.3rem;
  --radius-small: 0.5rem;
  --radius-large: 1rem;

  /* Padding */
  --padding-small: 0.4rem 0.8rem;
  --padding-large: 1rem 2rem;
  --padding-small-more-vertical: 1rem 0.5rem;
  --padding-top: 2rem;
  --padding-credit-card-row: 0 2rem;
}

body {
  background-color: var(--background-1);
  color: var(--text-color-2);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

h1 {
  font-size: var(--text-size-h1);
  margin-bottom: 2rem;
}

h2 {
  font-size: var(--text-size-h2);
  margin-bottom: 1rem;
}

h3 {
  font-size: var(--text-size-XL);
}

p {
  font-size: var(--text-size-M);
}

button {
  cursor: pointer;
  border: none;
}

.main-container {
  padding: 15vh 10rem 4vh;
  min-height: 75vh;
}

.main-container-admin {
  padding: 15vh 10rem 4vh;
  min-height: 100vh;
}

.hero-section-wide-screen {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 50rem 50rem; */
  margin-bottom: 2rem;
}

.hero-image-1 {
  background-image: url("/images/hero-image-4.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  aspect-ratio: 1.5 / 1;
  /* border-radius: 0.5rem; */
}

.hero-image-2 {
  background-image: url("/images/hero-image-3.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  aspect-ratio: 1.5 / 1;
  /* border-radius: 0.5rem; */
}

.hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--background-2);
}

.hero-text h2 {
  color: var(--text-color-1);
}

.hero-section-narrow-screen {
  display: none;
}

.popular-products {
  padding-top: var(--padding-top);
}

.popular-products h2 {
  text-align: center;
}

.nav-admin {
  height: 11vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 800;
  background-color: var(--background-1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Variabel? */
}

.nav-wide-screen {
  height: 11vh; /* , eftersom main-container har en min-height. nav + main-container + footer ska täcka hela höjden. */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
}

.nav-narrow-screen {
  display: none;
}

.home-link {
  cursor: pointer;
  height: 5rem;
}

.brand-name-and-sex-choices {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.sex-choices {
  display: flex;
  gap: 0.3rem;
}

.sex-choice-button {
  background-color: var(--background-4);
  color: var(--text-color-2);
  padding: var(--padding-small);
  border-radius: var(--radius-small);
  font-size: var(--text-size-L);
}

.selected-sex {
  text-decoration: underline;
  background-color: var(--background-2);
  color: var(--text-color-1);
}

.login-register-buttons {
  display: flex;
  gap: 3rem;
}

.login-button {
  background-color: inherit;
  color: var(--text-color-2);
  font-size: var(--text-size-L);
}

.register-button {
  background-color: var(--confirm-background);
  color: var(--text-color-1);
  padding: var(--padding-small);
  border-radius: var(--radius-small);
  font-size: var(--text-size-L);
  font-weight: bold;
  /* padding: 0.5rem 1rem; */
}

.toast {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  background-color: var(--background-3);
  color: var(--text-color-2);
  padding: var(--padding-large);
  border-radius: var(--radius-small);
  opacity: 0;
  z-index: 1000; /* Är detta bra? */
  font-size: var(--text-size-L);
  animation: fadeInOut 7s ease-in-out;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }
  20% {
    opacity: 1;
    transform: translateY(0);
  }
  80% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(4rem);
  }
}

.non-clickable-background {
  background-color: var(--background-no-click);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; /* Kanske fit-content  Kan man göra non-scrollable, non-swipable*/
  z-index: 999;
}

.button-to-open-categories {
  background-color: var(--background-2);
  color: var(--text-color-1);
  font-size: var(--text-size-XL);
  font-weight: bold;
  border-radius: var(--radius-small);
  padding: var(--padding-small);
}

.clickable-background {
  background: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
}

.dropdown {
  background-color: var(--background-1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Variabel? */
  display: flex;
  z-index: 1000;
}

.dropdown h2 {
  color: var(--text-color-2);
  text-align: center;
}

.dropdown-left-side {
  padding: 2rem;
  width: 85%;
}

.dropdown-left-side-categories {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.no-categories-exist {
  color: var(--text-color-2);
  font-size: var(--text-size-L);
}

.category-in-dropdown {
  color: var(--text-color-2);
  padding: var(--padding-small);
  font-size: var(--text-size-XL);
  font-weight: bold;
  cursor: pointer;
}

.category-in-dropdown:hover {
  background-color: var(--background-2);
  color: var(--text-color-1);
}

.dropdown-right-side {
  width: 15%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 3rem;
  padding-bottom: 2rem;
}

.close-dropdown {
  background: none;
  font-size: var(--text-size-XL);
  font-weight: bold;
}

.pop-up {
  background-color: var(--background-3);
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
  color: var(--text-color-2);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  /* padding: 2rem; */
  padding: var(--padding-large);
  border-radius: var(--radius-large);
  z-index: 1001;
}

.pop-up p {
  text-align: center;
}

.records-container {
  margin: 3rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 2rem;
  justify-items: center;
}

.wrap-container-admin {
  margin: 2rem 0;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
}

.item {
  background-color: var(--background-4);
  border: 1px solid var(--border-1);
  border-radius: var(--radius-small);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-small);
  cursor: pointer;
  /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); */
}

.item p {
  color: var(--text-color-2);
  font-size: var(--text-size-L);
  font-weight: bold;
}

.item:hover {
  background-color: var(--background-3);
}

.admin-record {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  border: 1px solid var(--border-2);
  border-radius: var(--radius-small);
  padding: var(--padding-small);
}

.press-to-create-edit {
  background-color: var(--background-2);
  color: var(--text-color-1);
  border-radius: var(--radius-small);
  padding: var(--padding-small);
  font-size: var(--text-size-L);
}

.create-edit {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

.label-and-input {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  max-width: 100%;
}

.label-and-input-for-login-register {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 30rem;
}

label {
  font-size: var(--text-size-M);
}

input {
  height: 2.5rem;
  border: none;
  padding-left: 0.7rem;
  font-size: var(--text-size-M);
}

textarea {
  height: 10rem;
  padding: var(--padding-small);
  font-size: var(--text-size-M);
  line-height: 1.3;
}

.radio-label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.confirm-or-cancel {
  display: flex;
  gap: 1rem;
}

.confirm-button {
  background-color: var(--confirm-background);
  color: var(--text-color-1);
  border-radius: var(--radius-small);
  padding: var(--padding-small);
  font-size: var(--text-size-L);
}

.cancel-button {
  background-color: var(--cancel-background);
  color: var(--text-color-2);
  border-radius: var(--radius-small);
  padding: var(--padding-small);
  font-size: var(--text-size-L);
}

.user-info-and-logout-button {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.user-info-and-logout-button-admin {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.logout-button {
  background-color: var(--cancel-background);
  color: var(--text-color-2);
  border-radius: var(--radius-small);
  padding: var(--padding-small);
  font-size: var(--text-size-L);
  font-weight: bold;
}

.basic-product {
  width: 100%;
  max-width: 22rem;
  border: 1px solid var(--border-1);
  border-radius: var(--radius-small);
  padding: var(--padding-large);
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  cursor: pointer;
}

.basic-product:hover {
  background-color: var(--background-2);
  color: var(--text-color-1);
}

.product-small-img-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 2 / 3;
  border-radius: var(--radius-small);
  overflow: hidden;
}

.product-small-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--radius-small);
  z-index: 1;
}

.from-price {
  text-align: center;
}

.detailed-product {
  /* Kanske ha olika för vanlig och admin */
  display: flex;
  align-items: flex-start;
  gap: 5rem;
}

.move-to-right-end {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.product-large-img-wrapper {
  position: relative;
  width: 100%;
  max-width: 37rem;
  aspect-ratio: 2 / 3;
  border: 1px solid var(--border-1);
  border-radius: var(--radius-large);
  overflow: hidden;
}

.product-large-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--radius-large);
  z-index: 1;
}

.to-the-right-of-product-large-img {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  max-width: 30rem;
}

.sizes-section {
  margin-top: 2rem;
  position: relative;
}

.show-sizes {
  background-color: var(--background-4);
  /* max-width: 30rem; */
  cursor: pointer;
  padding: 0.8rem 3rem; /* Variabel? */
}

.no-size-chosen {
  color: var(--text-color-3);
  font-size: var(--text-size-XL);
}

.size-shosen {
  color: var(--text-color-2);
  font-size: var(--text-size-XL);
  font-weight: bold;
}

.dropdown-sizes {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  /* width: 40rem; */
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

/* Varför syns det inte? SVAR: När det inte finns några varianter/storlekar syns inget.*/
.product-variant {
  background-color: var(--background-4);
  color: var(--text-color-2);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: var(--padding-small-more-vertical);
  cursor: pointer;
}

.product-variant:hover {
  background-color: var(--background-2);
  color: var(--text-color-1);
}

.out-of-stock {
  background-color: var(--background-4);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: var(--padding-small-more-vertical);
  cursor: not-allowed; /* Kanske */
  pointer-events: none; /* Kanske */
}

.out-of-stock p {
  color: var(--text-color-3); /* Kanske kan skriva denna för out-of-stock */
}

.low-stock {
  color: var(--text-color-4);
}

.detailed-product-information {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* max-width: 30rem; */
}

.detailed-product-information h1 {
  margin-bottom: 0;
}

.add-to-shopping-basket {
  background-color: var(--confirm-background);
  color: var(--text-color-1);
  border-radius: var(--radius-small);
  width: 100%;
  margin-top: 2rem;
  padding: var(--padding-large);
  font-size: var(--text-size-L);
  font-weight: bold;
}

.table {
  width: 70%;
}

.row-in-table {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.product-tiny-img {
  width: 12%;
  aspect-ratio: 2 / 3;
  border: 1px solid var(--border-1);
  border-radius: var(--radius-tiny);
}

.name-color-size {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.quantity-dropdown {
  padding: var(--padding-small); /* Blir detta för litet på mobiler? */
}

.remove-item-from-shopping-basket {
  color: var(--text-color-2);
  background-color: inherit;
  font-size: var(--text-size-h2);
  padding: var(--padding-small);
}

.remove-item-from-shopping-basket:hover {
  background-color: var(--background-4);
  color: var(--text-color-4);
}

.total-amount {
  border-top: 2px solid var(--border-2); /* Kanske bra? */
  padding-top: var(--padding-top);
  display: flex;
  justify-content: space-between;
}

.go-to-payment {
  padding-top: var(--padding-top);
  display: flex;
  justify-content: center;
}

.go-to-payment-button {
  background-color: var(--confirm-background);
  color: var(--text-color-1);
  border-radius: var(--radius-small);
  padding: var(--padding-large);
  font-size: var(--text-size-XL);
  font-weight: bold;
}

.heart-icon {
  position: absolute;
  top: 0rem;
  right: 0rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  z-index: 10;
}

.heart-icon-small {
  position: absolute;
  top: 0rem;
  right: 0rem;
  width: 2.2rem;
  height: 2.2rem;
  cursor: pointer;
  z-index: 10;
}

.heart-icon-nav-wrapper {
  position: relative;
  overflow: hidden;
  width: 4rem;
  height: 4rem;
  z-index: 801;
  cursor: pointer;
}

.heart-icon-nav {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heart-icon-nav-number {
  color: var(--text-color-1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--text-size-S);
  font-weight: bold;
  pointer-events: none; /* Optional: allows clicks to pass through the number */
}

.shopping-basket-icon-nav-wrapper {
  position: relative;
  overflow: hidden;
  width: 4rem;
  height: 4rem;
  z-index: 801;
  cursor: pointer;
}

.shopping-basket-nav {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.shopping-basket-nav-number {
  background-color: var(--confirm-background);
  color: var(--text-color-1);
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--text-size-S);
  font-weight: bold;
  pointer-events: none; /* Optional: allows clicks to pass through the number */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.2rem;
  height: 2.2rem;
}

.avatar-wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.avatar-nav {
  width: 4rem;
  height: 4rem;
}

.rating-reminder-nav-number {
  background-color: var(--background-2);
  color: var(--text-color-1);
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--text-size-S);
  font-weight: bold;
  pointer-events: none; /* Optional: allows clicks to pass through the number */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.2rem;
  height: 2.2rem;
}

.avatar-tooltip {
  visibility: hidden;
  opacity: 0;
  background-color: var(--background-3);
  color: var(--text-color-2);
  border-radius: var(--radius-small);
  font-size: var(--text-size-L);
  text-align: center;
  padding: var(--padding-small);
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 1;
  transition: opacity 0.2s;
}

.avatar-wrapper:hover .avatar-tooltip {
  visibility: visible;
  opacity: 1;
}

.description {
  white-space: normal;
  word-break: break-word;
  overflow-wrap: anywhere;
  max-width: 100%;
}

.admin-product-sizes {
  margin-top: 3rem;
  padding-top: 3rem;
  border-top: 2px solid var(--border-2);
}

/* .payment {
  width: 65%;
} */

.separate-horizontally {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.go-back {
  background-color: var(--background-4);
  color: var(--text-color-2);
  border-radius: var(--radius-small);
  border: 1px solid var(--border-1);
  padding: 1rem;
}

.total-amount-payment {
  font-size: var(--text-size-XL);
  margin-bottom: 3rem;
}

.credit-card-description {
  font-size: var(--text-size-M);
}

.credit-card {
  background-color: var(--background-3);
  border: 3px solid var(--border-2);
  border-radius: var(--radius-large);
  height: 40vh;
  aspect-ratio: 1.5 / 1;
  margin: 1rem 0;
}

.credit-card-larger-text {
  font-size: var(--text-size-XL);
}

#credit-card-row-1 {
  height: 33%;
  display: flex;
  align-items: center;
  padding: var(--padding-credit-card-row);
  border-bottom: 1px solid var(--border-2);
}

#credit-card-row-2 {
  height: 33%;
  padding: var(--padding-credit-card-row);
  border-bottom: 1px solid var(--border-2);
  display: flex;
  justify-content: space-between;
}

#credit-card-row-3 {
  height: 34%;
  display: flex;
  align-items: center;
  padding: var(--padding-credit-card-row);
}

.credit-card-label {
  font-size: var(--text-size-XS);
}

.separate-label-and-value {
  display: flex;
  gap: 2rem;
  align-items: center;
  text-align: center;
}

.confirm-purchase {
  padding-top: var(--padding-top);
  display: flex;
  justify-content: flex-end;
}

.confirm-purchase-button {
  background-color: var(--confirm-background);
  color: var(--text-color-1);
  border-radius: var(--radius-small);
  padding: var(--padding-large);
  font-size: var(--text-size-XL);
  font-weight: bold;
}

.order-summary {
  margin-bottom: 4rem;
}

.order-summary p {
  font-size: var(--text-size-L);
}

.table-narrow th {
  border-bottom: 1px solid var(--border-2);
  padding: 0.4rem 2rem 0.4rem 0.4rem; /* Variabel? */
  text-align: left;
  font-size: var(--text-size-L);
}

/* th {
  Jag har väl bara 1 table? 
} */

/* Obs: Man kanske inte kan klicka på raderna, i alla tabeller,
om jag väljer att ha table på fler ställen. */
td {
  font-size: var(--text-size-M);
  cursor: pointer;
  padding: 1rem 3rem 1rem 0.4rem; /* Variabel? */
}

.table-narrow tbody tr:hover {
  background-color: var(--background-2);
  color: var(--text-color-1);
}

footer {
  width: 100%;
  height: 25vh;
  padding: 2rem 11rem;
  background-color: var(--background-1);
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3); /* Variabel? */
}

footer h3 {
  font-size: var(--text-size-M);
}

.footer-column-section {
  display: flex;
  justify-content: space-between;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 4vh;
}

.separate-text-and-images-in-footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-img-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer-img-1 {
  height: 1rem;
}

.footer-img-2 {
  height: 2.5rem;
}

.footer-information {
  font-size: var(--text-size-XS);
  text-align: center;
}

.loading p {
  text-align: center;
}

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found a {
  text-decoration: none;
  background-color: var(--background-4);
  color: var(--text-color-2);
  font-size: var(--text-size-M);
  border-radius: var(--radius-small);
  border: 1px solid var(--border-1);
  padding: 1rem;
}

@media (max-width: 1000px) {
  nav {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }

  .nav-wide-screen {
    display: none;
  }

  .nav-narrow-screen {
    display: block;
  }

  .nav-narrow-screen-row-1 {
    display: flex;
    align-items: center;
    padding: 0 3rem;
    height: 10vh;
  }

  .home-link {
    margin-right: 4rem;
    height: 4rem;
  }

  .user-info-and-logout-button {
    justify-content: space-around;
    flex: 1;
  }

  .login-register-buttons {
    justify-content: flex-end;
    flex: 1;
  }

  .login-button {
    margin-right: 2rem;
  }

  .register-button {
    margin-right: 2rem;
  }

  .nav-narrow-screen-row-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    height: 6vh;
  }

  .dropdown {
    min-height: 22vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Variabel? */
  }

  .main-container {
    min-height: 80vh;
    padding: 20vh 2rem 4vh;
  }

  .main-container-admin {
    padding: 15vh 2rem 4vh;
    min-height: 100vh;
  }

  footer {
    height: 20vh;
    padding: 2rem;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.3);
  }

  .footer-column {
    gap: 3vh;
  }

  footer h3 {
    font-size: var(--text-size-S);
  }

  .footer-img-container {
    gap: 1.5rem;
  }

  .to-the-right-of-product-large-img {
    max-width: 20rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 8px;
  }

  .hero-section-narrow-screen {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 60vh 10vh 60vh 10vh; */
    margin-bottom: 2rem;
  }

  .hero-text {
    padding: 3rem 0;
  }

  .hero-section-wide-screen {
    display: none;
  }

  .detailed-product {
    gap: 2rem;
  }

  .press-to-create-edit {
    font-size: var(--text-size-M);
  }

  .table {
    width: 90%;
  }

  .product-tiny-img {
    width: 20%;
  }

  .label-and-input-for-login-register input {
    height: 3rem;
  }
}

@media (max-width: 480px) {
  .credit-card {
    border: 2px solid var(--border-2);
    height: 30vh;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 7px;
  }
}

@media (max-width: 340px) {
  html {
    font-size: 6px;
  }
}
